body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.header {
    background-color: rgb(79, 79, 236);
    text-align: center;
    padding: 20px;
    color: white;
}

.aside {
    width: 15%;
    background-color: #f0f0f0;
    padding: 20px;
    position: relative;
    bottom: 20px;
}

.main {
    flex: 1;
    padding: 20px;
}

.forecast {
    width: 1500px;
    background-color: #e0e0e0;
    padding: 20px;
    position: absolute;
    top: 500px;
}

.days {
    display: flex;
}

.day {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px 10px 0;
}

.weather-icon {
    width: 50px; 
    height: 50px; 
}

.todaysForecast {
    width: 1500px;
    background-color: #e0e0e0;
    padding: 20px;
    position: relative;
    bottom: 20px;
}

#previousCitiesList {
   text-align: center;
}

.recentCities{
    text-align: center;
}